@import url('https://fonts.cdnfonts.com/css/montserrat');
.body{
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.inicio {
  width: 100%;
  height: 3114px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.footer {
  top: 36px;
  left: -15px;
  width: 1447px;
  height: 3124.76904296875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.fondo {
  top: 2962.76904296875px;
  left: 0px;
  width: 1447px;
  height: 162px;
  position: absolute;
  box-sizing: content-box;
  background-color: #f2f2f2;
  padding: 0px;
}
.navegacion {
  top: 0px;
  left: 0px;
  width: 1377px;
  height: 3053px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.nav {
  top: 0px;
  left: 0px;
  width: 1377px;
  height: 3053px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.rectangle {
  top: 2727px;
  left: 0px;
  width: 1276px;
  height: 61px;
  position: absolute;
  border-color: rgba(154, 136, 119, 1);
}
.text {
  top: 3018.76904296875px;
  left: 844px;
  color: rgba(154, 136, 119, 0.5333333611488342);
  width: 254px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.group {
  top: 0px;
  left: 53px;
  width: 1324px;
  height: 3053px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.group1 {
  top: 0px;
  left: 0px;
  width: 1324px;
  height: 2174px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.instagram1 {
  top: 3018.768798828125px;
  left: 1238px;
  width: 26px;
  height: 30px;
  position: absolute;
}
.facebook1 {
  top: 3020.768798828125px;
  left: 1271px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.tiktok1 {
  top: 3020.768798828125px;
  left: 1303px;
  width: 21px;
  height: 24px;
  position: absolute;
}
.text02 {
  top: 3019px;
  left: 177px;
  color: rgba(154, 136, 119, 0.5333333611488342);
  width: 254px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.text04 {
  top: 3018.01318359375px;
  color: rgba(154, 136, 119, 0.5333333611488342);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.text06 {
  left: 670px;
  color: rgba(154, 136, 119, 0.5333333611488342);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.navegacion1 {
  top: -7px;
  left: 34px;
  width: 1375.5811767578125px;
  height: 98px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.nav1 {
  top: 32.98331069946289px;
  left: 100px;
  width: 1275.5811767578125px;
  height: 42.74810791015625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.group1 {
  top: 7.564327239990234px;
  left: 119px;
  width: 377px;
  height: 34.452362060546875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.text08 {
  color: rgba(154, 136, 119, 0.5333333611488342);
  width: 215px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.text13 {
  top: 0.452362060546875px;
  left: 192px;
  color: rgba(154, 136, 119, 0.5333333611488342);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.logo {
  top: 0px;
  left: 0px;
  width: 176px;
  height: 98px;
  position: absolute;
}
.vector {
  top: 31px;
  left: 1340px;
  width: 28px;
  height: 32px;
  position: absolute;
}
.vector1 {
  top: 31px;
  left: 1294px;
  width: 28px;
  height: 32px;
  position: absolute;
}
.vector2 {
  top: 32px;
  left: 1247px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.text18 {
  top: 504px;
  left: 161px;
  color: rgba(154, 136, 119, 0.5333333611488342);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.image25 {
  top: 158px;
  left: 770px;
  width: 477px;
  height: 669px;
  position: absolute;
}
.text20 {
  top: 420px;
  left: 166px;
  color: rgba(154, 136, 119, 0.5333333611488342);
  width: 497px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.text22 {
  top: 1283px;
  left: 1004px;
  color: rgba(154, 136, 119, 0.5333333611488342);
  width: 243px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.text24 {
  top: 1666px;
  left: 154px;
  color: rgba(154, 136, 119, 0.5333333611488342);
  width: 243px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.image26 {
  top: 895px;
  left: 161px;
  width: 477px;
  height: 669px;
  position: absolute;
}
.text26 {
  top: 1194px;
  left: 750px;
  color: rgba(154, 136, 119, 0.5333333611488342);
  width: 497px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: right;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.image27 {
  top: 1716px;
  left: 161px;
  width: 308px;
  height: 481px;
  position: absolute;
}
.image28 {
  top: 1716px;
  left: 534px;
  width: 325px;
  height: 481px;
  position: absolute;
}
.image29 {
  top: 1716px;
  left: 924px;
  width: 316px;
  height: 481px;
  position: absolute;
}
